@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans+Condensed:wght@300&family=Tangerine:wght@700&family=Taviraj:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Libre+Franklin:wght@100&family=Nunito:wght@300;400&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --tenne-tawny: #d65108;
    --tenne-tawny-dark: #0168f9;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background-color: #010101 ;
  
}
#logo{
    height: 200px;
     display: block;
     margin: 0 auto;
    
}
.search {
    width: 50%;
    position: relative;
    margin-left: 250px;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #000000;
    border-right: none;
    padding: 5px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000000;
  }
  
 
  
  .searchButton {
    width: 50px;
    height: 48px;
    border: 1px solid #000000;
    background: #00e1ff;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

/*  */
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
#title{
    color: white;
    font-size: 30px;
    margin-top: 50px;
}

/*  */
.container{
    min-height: 100vh;
}


.meal-wrapper{
  width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center; 
 
}
.meal-search{
    margin: 2rem 0;
    width: 100%;  
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    width: 100%;
    display: flex;
    align-items: stretch;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid black;
    color: rgb(15, 15, 173);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: grey;
}
.search-btn{
    width: 50px;
    height: 48px;
    border: 1px solid #000000;
    background: #00e1ff;
    text-align: center;
    color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 20px;
}
.search-btn:hover{
    background:  #111545;
}
.meal-result{
    margin-top: 4rem;
}
#meal{
    margin: 2.4rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    font-family: fantasy;
    color: #fff;
}
.meal-item{
    background-color: rgb(249, 249, 249);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
  
    
    margin: 2rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: var(--tenne-tawny-dark);
}

/* meal details */

.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    background-image: url(./assets/menu1.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 40px 40px 40px rgba(255, 255, 255, 0.076);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
  }
  
.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
 
    background: #f0f0f0;
    border: 5px solid rgb(1, 58, 246);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

/* js related */
.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}
.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
    margin-top: 20px;
    text-align: center;
}
.recipe-category{
background:white;;
    font-weight: 600;
    color: #111545;
    text-align: center;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
   
}

.recipe-instruct{
    display: flex;
    justify-content: center;
   align-items: center;
    padding: 1rem 0;
}
#heading{
    text-align: center;
}
.recipe-meal-img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link{
    text-align: center;
    margin: 1.4rem 0;
}
.recipe-link a{
     width: 100%;
   
  
    background:white;;
    color: #111545;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
   opacity: 0.9;
}


/*  */
.notFound{
    grid-template-columns: 1fr!important;
    color: rgb(9, 9, 137);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}
.random{
    width: 100%;
   
    
}
.card.random-card {
    display: flex;
    gap: 300px;
    align-items: center;
    width: 90% !important;
    margin: 0 auto;
    margin-bottom: 0;
    border: none;
    background-image: url(./assets/garlic-8027954.jpg);
    box-shadow: 40px 40px 40px rgba(255, 255, 255, 0.076);
    height: 550px;
  
}
.c-title{
    font-size: 50px;
    color: white;
   

}

.card-img-top.c-img {
    margin-left: 60px;
    width: 700px; 
    height: 500px; 
    margin-right: 20px; 
}
h3{
    font-size: 40px;
    font-family: "Cormorant Garamond", serif;}

.card-body.c-body {
    flex: 1;
    margin-right: 600px;
}

 .bottom .contact {
  text-align: center;
  color: #fff;
  background: #111545;
  height: 20px;
  width: 100%;
}

 .bottom .contact h3 {
  color: #fff;
  padding-top: 3rem;
}

.bottom .contact .cons {
  margin-top: 2.7rem;
  font-size: 1.5rem;
}
#text1{
    font-family: cursive;
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-align: center;
}

 .bottom footer {
  width: 100%;
  text-align: center;
  background: #100924;
  padding: 1rem;
}

 .bottom footer p {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  color: #fff;
}
 

 .bottom .contact {
    text-align: center;
    color: #fff;
    background: #111545;
    height: 15rem;
    width: 100%;
}

.bottom .contact h3 {
    color: #fff;

}

 .bottom .contact .cons {
    margin-top: 2.7rem;
    font-size: 1.5rem;
}


.homepage{
    background-image: url(./assets/output_image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
  
  .homepage .brand {
    font-family: 'Potta One', cursive;
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom: 30px;
  }
  form {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
    display: flex;

  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 2rem;
    background-color: rgb(223, 223, 223);
    display: inline-block;
  }
  #quote{
  background-image: url(./assets/vegetable-2924245.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 1000px;

  }
  #quote1{
    color: #ffffff;
    font-family: 'Special Elite', cursive;
    max-width: 600px;
    font-weight: 100;
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
   text-align: center;
	padding: .5rem;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    right: 3%;
    top: 1200px;

  }
  .header-1{
   display: flex;
  margin-top: 70px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }
  #foods{
 width: 100%;
  } 
  .right{
    /* border: 2px solid greenyellow; */
    padding: 10px;
}
.right i{
    font-size: 25px;
    margin: 0px 10px;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    /* Adjustments for small screens */
    body {
        overflow-x: hidden; /* Hide horizontal scrollbar */
        
    }
    #quote{
        background-image: none;}
   .homepage{
            background-image: none;}   
    .search {
        width: 100%;
        margin-left: 0;
    }
    .card.random-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

    }
    .card-body.c-body {
        margin-right: 20px;
    
    }
    #meal{
        margin: 2.4rem 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
     font-family: fantasy;
       color: #fff;

    }
  


    .searchTerm {
        width: 70%;
    }

    .searchButton {
        width: 30%;
    }

    .meal-wrapper {
        padding: 1rem;
    }

    .meal-search-box {
        width: 100%;
    }
    .card-img-top.c-img {
        margin-left: 10px; 
        width: 100%; 
        height: auto;
    }

    .c-title {
        font-size: 30px; 
    }

    .recipe-btn {
        width: 100%; 
    }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
    /* Adjustments for medium screens */
    body {
        overflow-x: hidden; /* Hide horizontal scrollbar */
        background-color: #000000;
    }
    #quote{
        background-image: none;
   }
   .card.random-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
   .homepage{
            background-image: none;}   
    .search {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-body.c-body {
        margin-right: 20px;
    }

    #meal{
        margin: 2.4rem 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       font-family: fantasy;
       color: #fff;
       
    }
  

    .searchTerm {
        width: 80%;
    }

    .searchButton {
        width: 20%;
    }

    .meal-wrapper {
        padding: 1.5rem;
    }

    .meal-search-box {
        width: 100%;
    }
    .card-img-top.c-img {
        margin-left: 10px; 
        width: 100%; 
        height: auto; 
    }

    .c-title {
        font-size: 30px; 
    }

    .recipe-btn {
        width: 100%; 
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Adjustments for large screens */
    body {
        overflow-x: hidden; /* Hide horizontal scrollbar */
        background-color: #000000;
    }
    #meal{
        margin: 2.4rem 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       
    }
  
    .search {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    #quote{
        background-image: none;
    height: auto;}
  
   .homepage{
            background-image: none;}   

    .meal-wrapper {
        padding: 2rem;
    }

    .meal-search-box {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-body.c-body {
        margin-right: 20px;
    }
    
}
